#body
{
	margin-top: 80px;
}


/*#Block_Principale
{
	width:900px;
	display: block;
	margin: auto;
	text-align: center;
}

.menu a
{
        color:#000000;
        text-decoration:none;
}
.menu-1
{
        background:#bbbbbb;
        border-bottom:1px solid black;
}
.menu-2
{
        background:#dddddd;
        border-bottom:0px solid black;
        padding-bottom:4px;
}

.menu li
{
	width: 100px;
	display: inline-block;
	border: 2px solid rgba(50,50,500,0.8);
	background-color: rgba(50,50,500,0.8);
	border-radius: 5px;
	color: red;
	
    margin-left:3px;
    margin-right:3px;
    padding:3px;
    border:1px solid black;
    cursor:pointer;
}

.menu .menu-1:hover
{
	background-color: white;
	border-bottom: none;
}

.menu .menu-2:hover
{
	background-color: white;
	border-bottom: none;
}

.menu .menu-3:hover
{
	background-color: white;
	border-bottom: none;
}

.menu .menu-4:hover
{
	background-color: white;
	border-bottom: none;
}

nav
{
	text-align: left;
	/*background-color: rgba(50,50,500,0.8);*//*
	border-radius: 5px;
}

table
{
	/*border-collapse: collapse;*//*
	width: 100%;
	min-width: 900px;
}

td
{
	border: 2px solid black;
	border-radius: 20px;
	width:auto;
	background-color: grey;
}

th
{
	border: 2px solid black;
	border-radius: 20px;
	width:auto;
	background-color: white;
}
*/